<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="35656302-3d31-4806-8e11-09187af870df" name="BaseTestSuit" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="35656302-3d31-4806-8e11-09187af870dffileName">BaseTestSuit</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:setupScript/>
  <con:tearDownScript/>
  <con:reportParameters/>
</con:testSuite>
